<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.example.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.example.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>catalogue</servlet-name>
		<servlet-class>com.example.CatalogueServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>submit</servlet-name>
		<servlet-class>com.example.SubmitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>com.example.MainSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Velocity</servlet-name>
		<servlet-class>com.example.Velocity</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.example.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Facebook</servlet-name>
		<servlet-class>com.example.FacebookAuthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>item</servlet-name>
		<servlet-class>com.example.ItemServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>item</servlet-name>
		<url-pattern>/item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>catalogue</servlet-name>
		<url-pattern>/catalogue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>submit</servlet-name>
		<url-pattern>/submit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Velocity</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Facebook</servlet-name>
		<url-pattern>/facebook</url-pattern>
	</servlet-mapping>

	
	
</web-app>
